<div mnFullpage class="text-white">
    <div class="section bg-primary">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Qual o seu CPF?</label> -->
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Qual o seu CPF?">
                    <!-- <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone
                        else.</small> -->
                </div>
                <div>
                    <button type="button" class="btn btn-raised btn-warning text-dark">Avançar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="section bg-primary">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Qual o seu CPF?</label> -->
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="TESTE">
                    <!-- <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone
                        else.</small> -->
                </div>
                <div>
                    <button type="button" class="btn btn-raised btn-warning text-dark">Avançar</button>
                </div>

            </div>
        </div>
    </div>
    <div class="section bg-primary">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Qual o seu CPF?</label> -->
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="LOREM IPSUM">
                    <!-- <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone
                        else.</small> -->
                </div>
                <div>
                    <button type="button" class="btn btn-raised btn-warning text-dark">Avançar</button>
                </div>

            </div>
        </div>
    </div>
</div>