<div class="container">
  <img src="/assets/imgs/logo-grupo-ccr.png" class="mx-auto d-block mt-5">
  <div class="row mt-5 mb-5">
    <div class="col-8 header">
      <h2>Coloque suas informações pessoais para acessar seu perfil</h2>
    </div>
    <div class="col-12 mt-5">
      <div class="form-group">
        <h4 class="text-ccr">Número de CPF</h4>
        <input type="text" class="form-control" id="cpf" value="123.456.789-00">
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="form-group">
        <h4 class="text-ccr">Data de nascimento</h4>
        <input type="text" class="form-control" id="born" value="19/06/1975">
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="form-group">
        <h4 class="text-ccr">Número de celular</h4>
        <input type="text" class="form-control" id="phone" value="(11) 98199-0011">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-raised btn-warning btn-block text-dark rounded mt-5">confirmar
    informações</button>
</div>