<div class="container p-0">
  <div class="row justify-content-md-center">

    <div class="col-md-auto col-lg-6">

      <div class="container">
        <img [src]="body.img" class="mx-auto d-block mt-5">
        <div class="row mt-5 mb-5">
          <div class="col-10 header">
            <h2>{{body.title}}</h2>
          </div>

          <div *ngIf="isFormTypeData()">
            <div class="col-12 mt-5">
              <div class="form-group">
                <h4 class="text-ccr">Número de CPF</h4>
                <input type="text" class="form-control" id="cpf" value="123.456.789-00">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <h4 class="text-ccr">Data de nascimento</h4>
                <input type="text" class="form-control" id="born" value="19/06/1975">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <h4 class="text-ccr">Número de celular</h4>
                <input type="text" class="form-control" id="phone" value="(11) 98199-0011">
              </div>
            </div>
          </div>

          <div *ngIf="!isFormTypeData()">
            <div class="col-12 mt-5">
              <div class="form-group">
                <h4 class="text-ccr">Digite uma senha</h4>
                <input type="password" class="form-control" id="password" value="loremispum">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="form-group">
                <h4 class="text-ccr">Confirme a sua senha</h4>
                <input type="password" class="form-control" id="password_confirmed" value="loremispum">
              </div>
            </div>
          </div>

        </div>
        <button type="button" (click)="submit()"
          class="btn btn-raised btn-warning btn-block text-dark rounded mt-5">{{body.btn}}</button>
      </div>

    </div>
  </div>
</div>