<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-8 header">
      Bem-vindo ao app
      Estrada para Saúde,
      caminhoneiro!
      <hr class="bg-warning hr-line">
    </div>
    <div class="col-12">
      <strong>Uma iniciativa da CCR concessionárias</strong> para trazer atendimento de saúde mais próximo de você.
      <strong>Aqui você pode:</strong>
    </div>
  </div>

  <p class="font-weight-bold mt-5 mb-5">E tudo isso é gratuito para você.</p>
  <button type="button" class="btn btn-raised btn-warning btn-block text-dark rounded">primeiro acesso ao app</button>
  <button type="button" class="btn btn-raised btn-link btn-block border border-dark rounded">ainda não tenho cadastro</button>
</div>